<mat-toolbar color="primary">
  <button type="button" mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Xiaomi Camera</span>
  <span fxFlex></span>
  <button mat-icon-button>
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container autosize fxFill>
  <mat-sidenav #drawer opened mode="side">
    <mat-nav-list>
      <mat-list-item *ngFor="let link of links">
        <a matLine routerLink={{link.path}} uiSrefActive="mat-primary">
          <mat-icon class="sidenav" svgIcon="{{ link.icon.replace('mdi-','') }}"></mat-icon>
          <span fxFlex></span>
          <div class="sidenav">{{ link.title }}</div>
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>