<div fxLayout.gt-md="row" fxLayout="column" fxLayoutAlign="space-evenly center">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon svgIcon="stream" fxFill></mat-icon>
      </div>
      <mat-card-title>Stream</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon svgIcon="sliders-h" fxFill></mat-icon>
      </div>
      <mat-card-title>Configs</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
  </mat-card>
</div>